.content {
  .search-form {
    width: 400px;

    .search-input-form {
      outline: none;
      box-shadow: none;
    }
  }

  .add-form {
    width: 400px;
  }
}
@media (max-width: 600px) {
  .content {
    .search-form {
      width: 300px;
    }
  }
}
